<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="db" connectionString="Server=(localdb)\\mssqllocaldb;Database=SOQuestions;Trusted_Connection=True;MultipleActiveResultSets=true" />
    <add name="SaveToDatabase.Properties.Settings.db" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=SOQuestions;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>